includeConfig './utils/nextflow.config'
includeConfig './filters/nextflow.config'
includeConfig './pairwise_identification/nextflow.config'

conda.enabled = true
process {
    errorStrategy = { task, _exitStatus ->
        def delay = (2 ** task.attempt) * 500
        sleep(delay)
        return 'retry'
    }
    maxRetries    = 10
    withLabel: filters {
        conda = './filters/filters_env.yaml'
    }
    withName: identifyConservedRegions {
        conda = './pairwise_identification/pairwise_env.yaml'
    }
    withLabel: utils {
        conda = './utils/utils_env.yaml'
    }
    withName: downloadReference {
        errorStrategy = 'finish'
    }

    withName: resolveReference {
        errorStrategy = "terminate"
    }
    withName: gunzipFile {
        errorStrategy = "terminate"
    }
}

params {
    // params that aren't otherwise specified in their own respective config files
    outdir    = "results"
    input_tsv = "input.tsv"
    help = null
}
