profiles {

    standard {
        process.executor = 'local'
        conda.enabled = true
        process {
            withName: identifyConservedRegions{
                conda = './pairwise_env.yaml'
            }
        }
    }

    debug {
        process.executor = 'local'
        conda.enabled = true
        process {
            withName: identifyConservedRegions{
                conda = './pairwise_env.yaml'
            }
        }
        timeline {
            enabled = true
            file = "timeline.html"
            overwrite = true
        }
        report {
            enabled = true
            file = "report.html"
            overwrite = true
        }
        trace {
            enabled = true
            file = "trace.txt"
            overwrite = true
        }
    }
}
params {
    outdir = "."
    identity = 50
    columns = 50
    reference_1 = null
    reference_2 = null
    input_1 = null
    input_2 = null
    filter_1 = null
    filter_2 = null
}