profiles {

    standard {
        process.executor = 'local'
        conda.enabled = true
        process {
            withLabel: filters{
                conda = './filters_env.yaml'
            }
        }
    }

    debug {
        process.executor = 'local'
        conda.enabled = true
        process {
            withLabel: filters{
                conda = './filters_env.yaml'
            }
        }
        timeline {
            enabled = true
            file = "timeline.html"
            overwrite = true
        }
        report {
            enabled = true
            file = "report.html"
            overwrite = true
        }
        trace {
            enabled = true
            file = "trace.txt"
            overwrite = true
        }
    }
}

params {
    outdir = "."
    memory = "8GB"
    bed_1 = null
    bed_2 = null
    reference_1 = null
    reference_2 = null
    blat_cuttoff_1 = 4
    blat_cuttoff_2 = 4
    blat_identity_1 = 0.9
    blat_identity_2 = 0.9
}

